@font-face {
  font-family: 'Founders Grotesk';
  src: url("FoundersGroteskText-Regular.eot?#iefix") format("embedded-opentype"), url("FoundersGroteskText-Regular.woff") format("woff"), url("FoundersGroteskText-Regular.ttf") format("truetype"), url("FoundersGroteskText-Regular.svg#FoundersGroteskText-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Founders Grotesk';
  src: url("FoundersGroteskText-Medium.eot?#iefix") format("embedded-opentype"), url("FoundersGroteskText-Medium.woff") format("woff"), url("FoundersGroteskText-Medium.ttf") format("truetype"), url("FoundersGroteskText-Medium.svg#FoundersGroteskText-Medium") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Suisse Works';
  src: url("SuisseWorks-Book.eot?#iefix") format("embedded-opentype"), url("SuisseWorks-Book.otf") format("opentype"), url("SuisseWorks-Book.woff") format("woff"), url("SuisseWorks-Book.ttf") format("truetype"), url("SuisseWorks-Book.svg#SuisseWorks-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
