.solutions {
  padding: 64px 0 64px 0;
  h2 {
    text-align: center;
    font-size: 72px;
    padding-bottom: 16px;
    .blue {
      color: #006f71;
    }
    .purple {
      color: $purple;
    }
  }
  .nav-tabs .nav-link.active{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:solid;
    border-width: 5px;
    border-color: $purple;
  }
  .nav-tabs .nav-link:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:solid;
    border-width: 5px;
    border-color: $purple;
    opacity: .5;
  }
  .tab-content {
    margin-top: 40px;
    text-align: center;


  }
}
