header .home {

  background-image: url("../media/PortfolioBG.png");
}
header .about-us{

  /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0); */
  background-image: url("../media/about-us.png");
}
header .portfolio{

  /* -webkit-clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 0); */
  background-image: url("../media/about-us.png");
}
header .team{

  /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0); */
  background-image: url("../media/about-us.png");
}
header .contact{

  /* -webkit-clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 0); */
  background-image: url("../media/about-us.png");
}
.email-copyright {
  font-size: 18px;
  font-family: "Google Sans";
  color: var(--qgrey-light);
}

.bg10 {
  background-color: transparent;
}

h1 .text-block-header {
  background-color: #3fe4a1;
  max-width:600px;
  margin:auto;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
}
.z-1000 {
z-index: 1000;
}

.text-block-1 {

  max-width:600px;
  margin:auto;
}
  header .text-block-1 h1{
    padding:80px 24px 24px 24px;
    color:#fff;
    font-weight:400;

  }
  header .text-block-1 p{
    color:#fff;
    padding:0 24px 80px 24px;
  }
  @media only screen and (max-width: 768px){
    header .text-block-1 h1{
      font-size:32px;
    }
    header .text-block-1 p{
      font-size:14px;
    }
    }
