.vivek {

}

.OurTeamBG {
  width: 1920px;
  height: 796px;
  object-fit: contain;
}

.OUR-TEAM {
  width: 601px;
  height: 111px;
  object-fit: contain;
  font-family: GoogleSans;
  font-size: 96px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.Person-Icon {
  width: 334px;
  height: 334px;
  object-fit: contain;
}
