header {
  height: 1000px;
  max-height: 100vh;
  position: relative;
  .background-texture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($blue, 1);
      mix-blend-mode: screen;
    }
  }

  nav {
    z-index: 2;
  }
  .text-block {
    background: linear-gradient(#673AB7,#512DA8);
    max-width: 600px;

    margin: auto;
    h1 {
      padding: 80px 24px 24px 24px;
      color: $light;
      font-weight: 400;
    }
    p {
      color: $light;
      padding: 0 24px 80px 24px;
    }
    @media only screen and (max-width: 768px) {
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 14px;

      }
    }
  }
  .header-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 160px;
  }
  .header-img {
    max-width: 400px;
    height: auto;
    display: flex;
    margin: auto;

  }
  h1 {
    color: #000;
    font-family: $headings;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 200px;
  }
  p {
    max-width: 556px;
    font-size: 25px;
    line-height: 1.42em;
    letter-spacing: .5px;
  }
}
