.nav-header {
  font-size: 0;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  z-index: 2;
  .contain {
    max-width: 1515px;
    padding: 0 30px;
  }
  [class*="logo"] {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: rgba(0, 0, 0, 0);
    user-select: none;
  }
  .logo-explab {
    background: url($img + 'logo_explab.png') center/cover no-repeat;
    width: 101px;
    height: 16px;
  }
  .logo-berkley {
    background: url($img + 'logo_berkley_sm.png') center/cover no-repeat;
    width: 136px;
    height: 42px;
  }
  .logo-sep {
    width: 1px;
    height: 51px;
    background: $black;
    margin: 0 22.5px;
  }
}
