@import "bootstrap/bootstrap";
@import 'variables';
@import 'fonts';
@import 'global';
@import 'nav';
@import 'header';

// SECTIONS
@import 'sections/example';//this is an example of using a section and importing it
@import 'sections/mike';//this is an example of using a section and importing it
@import 'sections/vivek';//this is an example of using a section and importing it
@import 'home/solutions';//this is an example of using a section and importing it


//HOME
@import 'pages/home/header';
